<div class='introduction'>
	<h1>Eurika!</h1>
	<h6>I have built another one! This shall go to my gallery.</h6>
</div>

<div class='description'>
	<p>Welcome to my "gallery".</p>
	<p>This is where you can find some of my works.</p>
</div>

<div class='conclusion'>
	<p>Want to see more?</p>
</div>
<div id='footer'>
<p><%= link_to("About Me", {:controller => :main, :action => :about}) %></p>
<p><%= link_to("Go to Main Page", {:controller => :main, :action => :index}) %></p>
</div>