@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Pacifico|Quicksand:400,700|Rubik:400,700|Scope+One|Trirong:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.all_about {
	background: url(gray1);
	text-align: justify;
	padding: 30px;
	padding-top: 0;
	padding-left: 100px;
}

.author_pic {
	max-width: 300px;
	border-radius: 50%;
	position: absolute;
	left: 65%;
	top: 5%;
}

.intro {
	font-family: Scope One, sans-serif;
	font-size: 20px;
	padding: 30px;
}

.intro h1 {
	color: #f05a78;
	font-family: Rubik;
	font-size: 40px;
}

.description {
	font-family: Quicksand;
	padding: 20px;
}

.description p {
	color: gray;
	padding: 20px;
	padding-left: 30px;
}

.skills, .creations {
	text-align: center;
	font-size: 30px;
	font-family: Scope One, sans-serif;
	padding: 50px;
	background: #5366ad;
	color: white;
}

.skillset {
	display: grid;
	grid-template-areas:
		'code code code code code code'
		'html html css css javascript javascript'
		'ruby ruby ruby ruby_on_rails ruby_on_rails ruby_on_rails';
	text-align: center;
	color: gray;
	position: relative;
}

.skillset h2, .tag {
	font-family: Trirong, sans-serif;
	font-size: 30px;
	color: #807e7c;
}

#html { grid-area: html;}
#css { grid-area: css;}
#javascript { grid-area: javascript;}
#ruby { grid-area: ruby;}
#ruby_on_rails { grid-area: ruby_on_rails;}
#code { grid-area: code;}


#code {
	font-family: Quicksand, sans-serif;
	font-size: 20px;
	padding-top: 30px;
	color: #3ec96d;
	margin-bottom: 30px;
}

#logo {
	max-width: 100px;
	min-width: 100px;
	margin: 0 auto;
}

#javascript #logo {
	max-width: 85px;
	min-width: 85px;
}

#icons {
	max-width: 50px;
	min-width: 50px;
	max-height: 50px;
	min-height: 50px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

@keyframes fade {
	from {filter: opacity(100%);}
	to {filter: opacity(50%);}
}

.proj {
	max-width: 250px;
}

.proj:hover {
	animation-name: fade;
	animation-duration: 0.3s;
	filter: opacity(50%);
}

#etchasketch {
	left: -60px;
}

#rps {
	top: -50px;
}

#calc {
	top: -100px;
	right: -60px;
}

#etchasketch:hover, #rps:hover, #calc:hover {
	filter: brightness(150%);
}

.creations {
	margin-top: 50px;
	background: #db4639;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
	background: url(gray3);
}

.footer {
	background: url(moon);
	text-align: center;
	padding: 80px;
}

.footer h3 {
	color: gray;
}

.footer p {
	font-family: Scope One, sans-serif;
	color: #736f6e;
}

.footer h4 {
	padding: 20px;
}

.footer h4:hover {
	color: gray;
	transition: color 0.3s;
}

#contact_me {
	font-family: Rubik;
	color: gray;
	text-decoration: overline;
}

.contact {
	max-width: 50px;
	margin-left: 15px;
	margin-right: 15px;
}

.contact:hover, .contact:click {
	filter: invert(70%);
	transition: filter 0.3s;
}

#improv {
	color: #ed6561;
	font-family: Quicksand, sans-serif;
	padding: 20px;
	padding-top: 150px;
	text-decoration: overline underline;
	filter: opacity(50%);
}

@media only screen and (max-width: 800px) {
		.all_about {
		text-align: center;
		padding: 0;
		padding-top: 10px;
		padding-left: 0;
	}

	.author_pic {
		max-width: 150px;
		position: relative;
		left: 0;
		top: 0;
	}

	.intro h1 {
		font-size: 40px;
	}

	.intro, .tag {
		font-size: 15px;
	}

	.description p {
		padding: 5px;
	}

	.skills, .creations, .footer h2 {
		font-size: 25px;
		padding: 20px;
		padding-bottom: 20px;
	}

	.skillset h2 {
		font-size: 25px;
	}

	#code {
		font-size: 15px;
		display: relative;
	}

	#logo {
		max-width: 80px;
		min-width: 80px;
	}

	#javascript #logo {
		max-width: 70px;
		min-width: 70px;
	}

	#icons {
		top: -30px;
		max-width: 30px;
		min-width: 30px;
		max-height: 30px;
		min-height: 30px;
	}

	#etchasketch {
		left: 0;
	}

	#rps {
		top: 0;
	}

	#calc {
		top: 0;
		right: 0;
	}

	.proj {
		max-width: 90px;
	}

	.creations {
		margin-top: 50px;
	}

	.projects {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#contact_me {
		font-size: 20px;
	}

	.footer h4 {
		padding: 10px;
	}

	.footer h2 {
		padding: 0;
	}

	.contact {
		margin-left: 0;
		margin-right: 0;
	}

	#improv {
		font-size: 20px;
	}
}

@media only screen and (max-width: 450px) {
	.intro h1 {
		font-size: 30px;
	}

	.intro, .tag {
		font-size: 10px;
	}

	.skills, .creations, .footer h2 {
		font-size: 15px;
	}

	.skillset h2 {
		font-size: 15px;
	}

	#code {
		font-size: 10px;
	}

	.footer h4 {
		padding-left: 0;
		font-size: 13px;
	}

	#improv {
		font-size: 10px;
	}

}